<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="false" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<appSettings>
		<add key="ClientId" value="15ca1176-e998-47d4-976b-43692cac6476" />
		<add key="ClientSecret" value="CQnKZCoq8ee82KHkcNF44DC1a0SyghYxkkcWCS9SIQc=" />
		<add key="SecondaryClientSecret" value="pThYzfHIQazhj1aUM0/wbeLWIzuzoxCbvazIsoeHLgM=" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<!--Used by app for SharePoint-->
				<binding name="secureBinding">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<protocolMapping>
			<add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
		</protocolMapping>
	</system.serviceModel>
</configuration>